<!DOCTYPE html>
<html>
  <head>
    <title>Системный анализ и машинное моделирование № 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class='container'>
      <center>
        <h3>Ошибка</h3>
        <br>
        <div class="alert alert-danger" role="alert">
            <%= @exception %>
        </div>
        <img src="images/error_img.png">
        <br>
        <div class="ml-3 mb-3 mt-3">
          <a href="/">Переход к вводу данных</a>
        </div>
      <center>
    </div>
  </body>
</html>
