<!DOCTYPE html>
<html>
  <head>
    <title>Системный анализ и машинное моделирование № 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="/javascript/main.js"></script>
  </head>
  <body>
    <div class='container'>
      <center>
        <h3>Формирование случайных чисел с заданным распределением</h3>
        <br>
        <form method='post' action='/'>
          <label for="type">Тип распределения</label>
          <select class="form-control" name="distribution" onchange="switchParams()">
            <option value="" selected disabled hidden>Выберите тип распределения</option>
            <option value="uniform">Имитация равномерного распределения</option>
            <option value="gaussian">Имитация гауссовского распределения</option>
            <option value="exponential">Имитация экспоненциального распределения</option>
            <option value="gamma">Имитация гамма-распределения</option>
            <option value="triangle">Имитация треугольного распределения</option>
            <option value="simpson">Имитация распределения Симпсона</option>
          </select>
          <div id="params-input">
          </div>
          <br>
          <input class="btn btn-primary btn-lg btn-block" type="submit" value="Получить результат">
        </form>
      <center>
    </div>
  </body>
</html>
